<div id="<%= dom_id post %>">

  <% if user_signed_in? && post.user.present? %>
    <h3>This post belongs to user: <%= post.user.name %></h3>
  <% end %>

  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

</div>
